[submodule "modules/sherrloc"]
	path = modules/sherrloc
	url = https://github.com/andrewcmyers/sherrloc.git
	branch = PLDI15
[submodule "modules/examples"]
	path = modules/examples
	url = https://github.com/FTRobbin/awesome-vyperflow-bootcamp
